.card-title {
  color: #000000;
  font-weight: bold;
  font-size: larger;
  justify-content: top;
}
.card-subtitle {
  color: #c9c9c9;
  padding: 1rem;
}
.card-text {
  color: #3f3f3f;
  font-size: small;
  padding: 2rem auto;
}
.card-body{
    background-color: #5d6370;
    align-items: center;
    border-radius: 1rem;
}
.card {
  text-align: center;
  min-width: 20rem;
  border-radius: 1rem;
  background-color: #282c34;
  border-color: #00000000;
  margin: 5%;
}
